@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Medium_1.eot');
    src: local('Acrom Medium'), local('Acrom-Medium'),
        url('../fonts/Acrom-Medium.eot#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-Medium.woff2') format('woff2'),
        url('../fonts/Acrom-Medium.woff') format('woff'),
        url('../fonts/Acrom-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Regular.eot');
    src: local('Acrom'), local('Acrom-Regular'),
        url('../fonts/Acrom-Regular_1.eot#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-Regular.woff2') format('woff2'),
        url('../fonts/Acrom-Regular.woff') format('woff'),
        url('../fonts/Acrom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p,h2,h3 {
    margin: 0;
}

.b15 {
    border-radius: 15px;
}

.b30 {
    border-radius: 30px;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.w100 {
    width: 100%;
}

.main-container {
    background: rgba(37, 37, 37, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    backdrop-filter: blur(12px);

    max-width: 740px;
    width: 100%;
    max-height: 660px;
    height: 100%;
    
    padding: 30px;
    margin: auto auto 30px auto;
}

.image-wrapper {
    min-width: 125px;
    min-height: 125px;
    width: 125px;
    height: 125px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: contain;
}

.dev-name {
    margin-left: 25px;
}

.name-title {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.name-desc, .name-country, .name-skills {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.howdo {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1496px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    text-decoration: none;
    transition: 0.3s;
}


.howdo:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration-line: underline;
}

.link-wrapper {
    margin-left: auto;
}

.content {
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
    grid-template-rows: auto;
    margin-top: 25px;
}

.wrapper-points {
    background: #2C2C2C;
    width: 95%;
    padding: 17px 15px;
    overflow: hidden;
}

.wrapper-points > h3 {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.wrapper-points > p {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1496px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 180px;
}

.wrapper-points > img {
    position: absolute;
    right: -30px;
    top: 45px;
}

.soc-links {
    margin-top: 40px;
}

.category-title {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 500;
    font-size: 17.5328px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.linkwrapper {
    text-decoration: none;
    padding: 13px;
    display: block;
    justify-content: center;
    gap: 20px;
}

.links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 15px;
}

.ds {
    background: radial-gradient(56% 217.19% at 0% 100%, rgba(0, 119, 255, 0.2) 0%, rgba(88, 101, 242, 0.2) 0.01%, rgba(88, 101, 242, 0) 94.27%), #2C2C2C;
}

.tg {
    background: radial-gradient(56% 217.19% at 0% 100%, rgba(64, 179, 224, 0.2) 0%, rgba(64, 179, 224, 0) 100%), #2C2C2C;
}

.gh {
    background: radial-gradient(56% 217.19% at 0% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(64, 179, 224, 0) 100%), #2C2C2C;
}

.fb {
    background: radial-gradient(56% 217.19% at 0% 100%, rgba(24, 119, 242, 0.2) 0%, rgba(64, 179, 224, 0) 100%), #2C2C2C;
}

.wa {
    background: radial-gradient(56% 217.19% at 0% 100%, rgba(64, 216, 121, 0.2) 0%, rgba(64, 179, 224, 0) 100%), #2C2C2C;
}

.ma {
    background: radial-gradient(56% 217.19% at 0% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(64, 179, 224, 0) 100%), #2C2C2C;
}

.link-container {
    text-decoration: none;
}

.link-content {
    gap: 15px;
    align-items: center;
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.scaleme {
    transition: 0.4s;
}

.scaleme:hover {
    transform: scale(1.05);
}

footer {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 10px 0 0 0;
    max-width: 640px;
    width: 100%;
    height: fit-content;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.12);;
}

.watermark {
    align-items: center;
}

.water-text-st,.water-text-name {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

.water-text-name {
    color: rgba(255, 255, 255, 0.75);
}

.hover_wrapper {
    margin: 0 5px;
    position: relative;
    height: 6px;
    width: 7px;
}

.kan_name {
    margin-top: 7px;
    transform: scale(1.05);
    transition: 0.3s;
}

.kan_name:hover {
    transform: scale(1.15);
}

.copied-notify {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    border: 1px solid #3F3F3F;
    background-color: #242424;;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px 13px;

    position: fixed;
    top: 50px;

    opacity: 0;
    visibility: hidden;
    z-index: -10;

    transition: 0.3s;
}


@media only screen and (max-width: 630px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 620px) {
    .links-wrapper {
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .link-container {
        min-width: 156px;
        max-width: 190px;
        width: 100%;
    }
    .main-container {
        max-height: fit-content;
    }
}

@media only screen and (max-width: 498px) {
    .link-container {
        min-width: 156px;
    }
}

@media only screen and (max-width: 540px) {
    .inhed-wrapper {
        flex-direction: column;
    }
    .link-wrapper {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 360px) {
    .howdo {
        margin-top: 15px;
    }
    .image-wrapper {
        min-width: 85px;
        min-height: 85px;
        width: 85px;
        height: 85px;
    }
    .name-title {
        font-size: 15px;
    }
    .name-desc, .name-country, .name-skills {
        margin-top: 7px;
        font-size: 12px;
    }
    .wrapper-points > h3 {
        font-size: 15px;
        margin-bottom: 9px;
    }
    .wrapper-points > p {
        font-size: 12px;
    }
    .wrapper-points {
        padding: 15px 13px;
    }
    .link-container {
        max-width: 115px;
        min-width: auto;
    }
    .link-content {
        font-size: 12px;
        gap: 9px;
    }
    .link-content > img {
        width: 25px;
        height: 25px;
    }
    .linkwrapper {
        padding: 8px;
    }
    .links-wrapper {
        gap: 10px;
    }
}
